.forms {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.child-form,
.mom-form,
.other-form {
    border-radius: 15px;
    width: 25%;
    padding: 5px 15px 10px 15px;
    border: 1px dashed #2d0146;
}