/* * {
    border: 1px dashed orange;
} */

header {
    background-image: url(../images/pikaso_edit.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.nav_top {
    align-items: center;
    /* background-color: rgb(245, 245, 245, 0.4); */
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 5em;
}

.logo {
    border-radius: 5px;
    min-width: 1.5%;
    padding: 0 10px;
}

.img_logo {
    width: 15px;
}

img {
    max-width: 100%;
}

a {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-decoration: none;
}

.title_block {
    margin: 100px 10%;
}

.title_top {
    font-size: 5em;
    font-weight: 800;
    line-height: 1.35em;
    color: white;
    text-shadow: 2px 2px #2d0146;
    color: #FFFFFF;
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 2px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    letter-spacing: .03em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #36008d, 0 2px 0 #240066, 0 3px 0 #22004e, 0 4px 0 #110030, 0 5px 0 rgb(15, 0, 29), 0 0 55px #ffdc18, 0 0 75px #ffae18;
}

.order {
    background-color: rgb(255, 153, 0);
    border-radius: 12px;
    width: 240px;
    height: 50px;
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
    border-color: #d45703;
    text-shadow: 1px 2px 3px rgba(220, 113, 19, 0.97);
}

.withe_p {
    color: white;
    margin-top: 150px;
    /* margin: auto; */
}

main {
    max-width: 100%;
}

.point {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 700px;
    justify-content: center;
    align-content: center;
    width: 60%;
    margin: auto;
}

.point_inside {
    display: flex;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 14em;
    padding: 2em;
    text-shadow: 0.05px 0.05px #583E2E;
}

.sirene {
    background-color: #ABA6BF;
    background-color: #193146;
    color: #4e0579;
    color: wheat;
    ;
    border-radius: 50% 0 50% 0;
}

.violet {
    background-color: #595775;
    background-color: #687787;
    color: #ABA6BF;
    color: wheat;
    border-radius: 50% 0 50% 0;
}

.braun {
    background-color: #583E2E;
}

.crema {
    background-color: #F1E0D6;
    background-color: #F9EDE3;
    color: #BF988F;
    justify-self: center;
    border-radius: 0 50% 0 50%;
}

.peache {
    background-color: #BF988F;
    background-color: #dd9d67;
    color: #F1E0D6;
    border-radius: 0 50% 0 50%;
}

.two {
    background-color: #c2d3d3;
    min-height: 500px;
    padding: 10%;
}

.two_text {
    background-color: #F9EDE3;
    border-radius: 1em;
    padding: 25px;
}

.three {
    min-height: 200px;
    padding: 10%;
    text-align: center;
}

.four {
    background-color: #756c6e;
    /* min-height: 200px; */
    padding: 10%;
    text-align: center;
}


.circle_main {
    background-image: url(../images/tiny-baby-grey-clothes-sleeps-woolen-blanket_8353-309.jpg);
    background-image: url(../images/smiling-baby-lying-bed_1139-142.jpg);
    background-size: 105%;
    background-position: 5%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 8px solid rgb(235, 235, 202);
    width: 400px;
    height: 400px;
    margin: auto;
}

.more {
    width: 100%;
    border-style: none;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
}

.active,
.more:hover {
    background-color: rgb(243, 215, 164);
    border-radius: 1em;
}

.content {
    padding: 10px 18px;
    /* overflow: hidden; */
    transition: max-heigth 0.2s easy-out;
    background-color: ##F9EDE3;
    border-radius: 1em;
    line-height: 1.5em;
    /* max-height: 0; */
}

.collapse {
    display: none;
}