/* preloader */
.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(165deg,
            rgba(255, 255, 255, 1) 0%,
            rgb(220, 220, 220) 40%,
            rgb(170, 170, 170) 98%,
            rgb(10, 10, 10) 100%);
    border-radius: 50%;
    position: relative;
}

.loader:before {
    background-color: #f7bc3d;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
        0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
        0 -3px 2px #ffffffbb inset, 0 2px 0px hsl(49, 93%, 88%), 0 2px 3px hsl(49, 93%, 88%),
        0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    opacity: 1;
    background-color: #1d2c4b;
    overflow: hidden;
    cursor: progress;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

/* main paige */
header {
    position: relative;
    background-image: url(../images/pikaso_edit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

/* menu */
.nav_top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    padding: 2em 0.5em;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 5em;
}

.logo {
    position: fixed;
    border-radius: 5px;
    min-width: 1.5%;
    padding: 0 10px;
}

.img_logo {
    width: 15px;
}

.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    max-width: 90%;
    margin: auto;
    padding: 10px;
}

.menu a {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-decoration: none;
}

/* title */
.title_block {
    margin: 10%;
}

.title_top {
    font-size: 5em;
    font-weight: 800;
    line-height: 1.35em;
    color: white;
    text-shadow: 2px 2px #2d0146;
    color: #FFFFFF;
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 2px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    letter-spacing: .03em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #36008d, 0 2px 0 #240066, 0 3px 0 #22004e, 0 4px 0 #110030, 0 5px 0 rgb(15, 0, 29), 0 0 55px #ffdc18, 0 0 75px #ffae18;
}

/* button */
.order {
    position: relative;
    padding: 12px 30px;
    background: #f5ab22;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    border: 3px solid rgba(202, 109, 28, 0.97);
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    text-shadow: 1px 2px 3px rgba(220, 113, 19, 0.97);
    text-shadow: 1px 2px 3px rgba(141, 66, 1, 0.97);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

/* button анимация - звезды начало */
.order:hover {
    background: #0e3a3a;
    color: #FFFFFF;
    box-shadow: 0 0 25px #0e3a3a;
    border: 3px solid #FFF;
}

.star-1 {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
}

.order:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-4 {
    position: absolute;
    top: 45%;
    left: 89%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 120%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

/* анимация кнопки - звезды конец */

.fil0 {
    fill: #f5ab22;
}

.bounce-top {
    -webkit-animation: bounce-top 1.5s both;
    animation: bounce-top 1.5s both;
}

/* subtitle */
.withe_p {
    color: white;
    font-size: 1.4em;
}

main {
    max-width: 100%;
}


/* 1page */
.astrology {
    width: 75%;
    margin: auto;
    margin-top: 5em;
    font-size: 8pt;
    line-height: 1.6em;
    text-align: center;
}

.astrology_part {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 2em;
}

.first {
    flex-direction: column;
}

.astrology_title {
    font-size: xx-large;
    line-height: 1em;
}

.second {
    align-items: center;
}

.block2-text {
    width: 65%;
    padding: 0 1em 0 4em;
    text-align: end;
}

.circle {
    display: flex;
    max-width: 35%;
    overflow: hidden;
    margin-right: 4em;
}

.circle img {
    width: 100%;
    border-radius: 30%;
}

.third {
    justify-content: start;
    align-items: center;
    margin-bottom: 1em;
}

.brain {
    position: relative;
    color: white;
    width: 65%;
    display: flex;
    justify-content: center;

}

.brain img {
    width: 100%;
    position: absolute;
    top: -1vw;
    z-index: -5;
}

.brain_inner {
    max-width: 65%;
    text-align: center;
    padding: 6vw 6vw 9vw 6vw;
    font-size: 1vw;
    line-height: 1.2vw;
}

.text-rigth {
    width: 70%;
    margin-left: 9vw;
}

.astrology_title {
    color: #dd9d67;
}

.attention {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: start;
    text-align: start;
}

.line {
    border-left: 3pt solid #687787;
    padding-left: 1em;
}


/* 2page */

h2 {
    margin-top: 0.7em;
    text-align: center;
}

h3 {
    font-size: 10pt;
    line-height: 16pt;
}

.one {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.star-7 {
    fill: #ddc5ae8c;
    position: absolute;
    width: 115px;
    height: auto;
    z-index: 15;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.point {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 400px;
    justify-content: center;
    align-content: center;
    width: 55%;
    margin: 2em auto;
}

.point_inside {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    height: 14em;
    padding: 2em;
    text-shadow: 0.05px 0.05px #583E2E;
    width: 40%;

}

.blue {
    background-color: #193146;
    color: wheat;
    border-radius: 50% 0 50% 0;
}

.gray {
    background-color: #687787;
    color: wheat;
    border-radius: 50% 0 50% 0;
}

.braun {
    background-color: #583E2E;
}

.crema {
    background-color: #F9EDE3;
    color: #BF988F;
    border-radius: 0 50% 0 50%;
}

.about:hover {
    color: red;
}

.about-rasi {
    animation: glowing 3000ms infinite;

}

@keyframes glowing {
    50% {
        color: #f9ede3ec;
        ;
    }

    100% {
        color: #BF988F;
    }
}

.bounce-down {
    animation: glow 1000ms infinite;
}

@keyframes glow {
    50% {
        color: #ffffff;
    }

    100% {
        color: #fff2b7d2;
    }
}

.peache {
    background-color: #dd9d67;
    color: #F1E0D6;
    border-radius: 0 50% 0 50%;
}

.two {
    background-color: #F9EDE3;
    background-size: 100%;
    background-position-y: 5%;
    padding: 2%;
    text-align: center;
}

.two_text {
    background-color: rgb(255, 255, 255);
    border-radius: 0.9em;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 75%;
}

.vert {
    margin: auto;

}

.step1 {
    width: 85%;
    margin-left: 7%;
}

.step2 {
    width: 95%;
    margin-right: 2%;
}

.step3 {
    width: 86%;
    margin-left: 11%;
}

.step4 {
    width: 76%;
    margin-right: 12%;
}

.step5 {
    width: 65%;
    margin-left: 20%;
}


.three {
    min-height: 200px;
    padding: 5% 10%;
    text-align: center;
}

.four {
    background-image: url(../images/planet-earth-background_23-2150564685.jpeg);
    background-repeat: no-repeat;
    background-position-y: 55%;
    background-position-x: 50%;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 5em 0;
    place-items: center;
    position: relative;
    z-index: 19;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.four_text {
    margin: 15% 10% 4% 10%;
}

.bounce-down {
    margin-top: 4em;
}

.more {
    width: 100%;
    border-style: none;
    background-color: #FFFFFF;
    border-radius: 0.2em;
    text-align: center;
}

.active,
.more:hover {
    background-color: #687787;
    background: linear-gradient(#687787, #68778791);
    border-radius: 7px;
    min-height: 35px;
}

.content {
    padding: 10px 18px;
    background: linear-gradient(#f9ede3, #f9ede344, #f9ede344);
    border-radius: 1em;
    line-height: 1.5em;
}

.collapse {
    display: none;
}

footer {
    display: flex;
    min-height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px;
}

.logotype {
    width: 20%;
}

.msrs {
    width: 20px;
    height: 20px;
}

.connect {
    display: flex;
    margin-right: 10px;
    font-size: 0.7em;
    text-decoration: none;
    color: black;
}

.connect img {
    width: 100%;
    padding: 0;
}

.made {
    font-size: 0.8em;
}


.text-focus-in {
    -webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-31 19:42:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.rasi,
.lagna,
.lagnesh,
.mental,
.perception,
.specialization,
.ancestors,
.talent,
.parents,
.tasks {
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    left: 30%;
    width: 30%;
    min-height: 200px;
    padding: 30px;
    display: none;
    font-size: 0.6em;
    line-height: 1.5em;
    color: #193146;
    z-index: 50;
}

.desantura {
    display: flex;
    justify-content: space-between;
}

.close {
    border: none;
    width: 24px;
    height: 24px;
}

.bounce-down {
    position: relative;
}

.star-cloud {
    border: 1px dashed red;
    background-image: url(../images/zvezdi-png-kosmos-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: -35em;
    width: 200em;
    height: 200em;
    margin: 0 auto;
    animation: 700s linear infinite rotate;
    z-index: -1;
}

#oferta {
    color: #f5ab22;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 601px) and (max-width: 980px) {
    .astrology {
        width: 85%;
        font-size: 9pt;
    }

    .astrology_title {
        font-size: xxx-large;
        line-height: 1.2em;
    }

    .second {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .block2-text {
        width: 90%;
        padding-left: 0.3em;
        margin: 2em 0 0 0;
        text-align: start;
    }

    .circle {
        min-width: 50%;
        justify-content: center;
    }


    .third {
        flex-direction: column;
        align-items: center;
    }

    .brain {
        min-width: 600px;
    }

    .brain_inner {
        max-width: 65%;
        text-align: center;
        padding: 8vw 7vw 9vw 6vw;
        font-size: 1.1em;
        line-height: 1.4em;
    }

    .text-rigth {
        width: 70%;
        margin-left: 11em;
    }

    .attention {
        width: 99%;
        margin-top: 1.4em;
    }

    h2 {
        width: 85%;
    }

    h3 {
        font-size: 10pt;
        line-height: 14pt;
    }

    .point {
        width: 90%;
    }

    .rasi,
    .lagna,
    .lagnesh,
    .mental,
    .perception,
    .specialization,
    .ancestors,
    .talent,
    .parents,
    .tasks {
        border: 1px dashed grey;
        top: 0;
        left: 15%;
        width: 60%;
        min-height: 110px;
        font-size: 0.8em;
        line-height: 1.5em;
    }

    .two_text {
        /* border-radius: 2em; */
        max-width: 100%;
        margin: auto;
        height: 320px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
    }

    .logotype {
        width: 20%;
    }
}


@media (min-width: 299px) and (max-width: 600px) {

    .logo {
        top: 30px;
    }

    .menu {
        flex-direction: column;
        align-items: end;
        max-width: 90%;
        padding: 1em;
    }

    .menu a {
        margin: 0.2em;
        font-size: 1.5em;
    }

    .title_top {
        font-size: 2.8em;
    }

    .astrology {
        width: 100%;
    }

    .astrology_part {
        width: 90%;
    }

    .astrology_title {
        font-size: x-large;
        line-height: 1.1em;
        overflow: hidden;
        width: 90%;
    }

    .second {
        flex-direction: column-reverse;
    }

    .block2-text {
        width: 100%;
        text-align: start;
        padding-left: 1em;
        margin: 2em 0 0 0;
    }

    .circle {
        min-width: 100%;
        margin: 0;
    }

    .third {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    .brain {
        display: flex;
        justify-content: center;
        min-width: 450px;
    }

    .brain_inner {
        max-width: 70%;
        text-align: center;
        padding: 9vw 7vw 9vw 6vw;
        font-size: 1em;
        line-height: 1.4em;
    }

    .text-rigth {
        width: 70%;
        margin-left: 9em;
    }

    .attention {
        margin: 4.5em 0 1em 0;
    }

    h3 {
        line-height: 14pt;
    }

    .one {
        width: 100%;
    }

    .point_inside {
        font-size: 1.2em;
        line-height: 1.4em;
        height: 4em;
        padding: 4.9em;
    }

    .two_text {
        max-width: 100%;
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    .msrs {
        width: 50px;
        height: 50px;
        margin: 1em;
    }

    .logotype {
        width: 85%;
    }
}

@media(min-width: 1920px) {
    main {
        width: 80%;
        margin: auto;
    }
}