.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(165deg,
            rgba(255, 255, 255, 1) 0%,
            rgb(220, 220, 220) 40%,
            rgb(170, 170, 170) 98%,
            rgb(10, 10, 10) 100%);
    border-radius: 50%;
    position: relative;
}

.loader:before {
    background-color: #f7bc3d;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
        0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
        0 -3px 2px #ffffffbb inset, 0 2px 0px hsl(49, 93%, 88%), 0 2px 3px hsl(49, 93%, 88%),
        0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    opacity: 1;
    background-color: #1d2c4b;
    overflow: hidden;
    cursor: progress;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}


header {
    background-image: url(../images/pikaso_edit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

.nav_top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0.5em;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 5em;
}

.logo {
    border-radius: 5px;
    min-width: 1.5%;
    padding: 0 10px;
}

.img_logo {
    width: 15px;
}

.explanation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img {
    max-width: 90%;
    margin: auto;
    padding: 10px;
}

.menu a {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-decoration: none;
}

.title_block {
    margin: 10%;
}

.title_top {
    font-size: 5em;
    font-weight: 800;
    line-height: 1.35em;
    color: white;
    text-shadow: 2px 2px #2d0146;
    color: #FFFFFF;
    text-shadow: 0 0 1px #FFF, 0 0 1px #FFF, 0 0 15px #FFF, 0 0 2px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    letter-spacing: .03em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #36008d, 0 2px 0 #240066, 0 3px 0 #22004e, 0 4px 0 #110030, 0 5px 0 rgb(15, 0, 29), 0 0 55px #ffdc18, 0 0 75px #ffae18;
}

.order {
    position: relative;
    padding: 12px 30px;
    background: #f5ab22;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    border: 3px solid rgba(202, 109, 28, 0.97);
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    text-shadow: 1px 2px 3px rgba(220, 113, 19, 0.97);
    text-shadow: 1px 2px 3px rgba(141, 66, 1, 0.97);
    transition: all .3s ease-in-out;
    cursor: pointer;
}


/* анимация кнопки - звезды начало */
.order:hover {
    background: #0e3a3a;
    color: #FFFFFF;
    box-shadow: 0 0 25px #0e3a3a;
    border: 3px solid #FFF;
}

.star-1 {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
}

.order:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-4 {
    position: absolute;
    top: 45%;
    left: 89%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 120%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.order:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

/* анимация кнопки - звезды конец */

.fil0 {
    fill: #f5ab22;
}

.bounce-top {
    -webkit-animation: bounce-top 1.5s both;
    animation: bounce-top 1.5s both;
}

.withe_p {
    color: white;
    /* margin-top: 140px; */
    font-size: 1.7em;
}

main {
    max-width: 100%;
}

.star-7 {
    fill: #ddc5ae8c;
    position: absolute;
    width: 115px;
    height: auto;
    /* filter: drop-shadow(0 0 0 #b606ad); */
    z-index: 15;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.point {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 700px;
    justify-content: center;
    align-content: center;
    width: 60%;
    margin: auto;
}

.one {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point_inside {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    height: 14em;
    padding: 2em;
    text-shadow: 0.05px 0.05px #583E2E;
    width: 40%;

}

.blue {
    background-color: #193146;
    color: wheat;
    border-radius: 50% 0 50% 0;
}

.gray {
    background-color: #687787;
    color: wheat;
    border-radius: 50% 0 50% 0;
}

.braun {
    background-color: #583E2E;
}

.crema {
    background-color: #F9EDE3;
    color: #BF988F;
    border-radius: 0 50% 0 50%;
}

.about:hover {
    color: red;
}

.about-rasi {
    animation: glowing 3000ms infinite;

}

@keyframes glowing {
    50% {
        color: #f9ede3ec;
        ;
    }

    100% {
        color: #BF988F;
    }
}

.bounce-down {
    animation: glow 1000ms infinite;
}

@keyframes glow {
    50% {
        color: #ffffff;
    }

    100% {
        color: #fff2b7d2;
    }
}

.peache {
    background-color: #dd9d67;
    color: #F1E0D6;
    border-radius: 0 50% 0 50%;
}

.two {
    background-color: #F9EDE3;
    background-size: 100%;
    background-position-y: 5%;
    padding: 2%;
    text-align: center;
}

.two_text {
    background-color: rgb(255, 255, 255);
    border-radius: 0.9em;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 75%;
}

h2 {
    color: #dd9d67;
}

.vert {
    margin: auto;
}

.step1 {
    width: 65%;
    margin-left: 15%;
}

.step2 {
    width: 70%;
    margin-right: 14%;
}

.step3 {
    width: 65%;
    margin-left: 20%;
}

.step4 {
    width: 55%;
    margin-right: 20%;
}

.step5 {
    width: 50%;
    margin-left: 27%;
}


.three {
    min-height: 200px;
    padding: 5% 10%;
    text-align: center;
}

.four {
    background-image: url(../images/planet-earth-background_23-2150564685.jpeg);
    background-repeat: no-repeat;
    background-position-y: 55%;
    background-position-x: 50%;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 5em 0;
    place-items: center;
    position: relative;
    z-index: 19;
}


.four_text {
    margin: 15% 10% 4% 10%;
}

.bounce-down {
    margin-top: 4em;
}

.more {
    width: 100%;
    border-style: none;
    background-color: #FFFFFF;
    border-radius: 0.2em;
    text-align: center;
}

.active,
.more:hover {
    background-color: #687787;
    background: linear-gradient(#687787, #68778791);
    border-radius: 7px;
    min-height: 35px;
}

.content {
    padding: 10px 18px;
    background: linear-gradient(#f9ede3, #f9ede344, #f9ede344);
    border-radius: 1em;
    line-height: 1.5em;
}

.collapse {
    display: none;
}

footer {
    display: flex;
    max-height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 45px;
}

.logotype {
    width: 12em;
}

.msrs {
    width: 20px;
    height: 20px;
}

.connect {
    display: flex;
    margin-right: 10px;
    font-size: 0.7em;
    text-decoration: none;
    color: black;
}

.connect img {
    width: 100%;
    padding: 0;
}

/* .made {
    color: orange;
    font-size: 0.8em;
} */


.text-focus-in {
    -webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-31 19:42:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.rasi,
.lagna,
.lagnesh,
.mental,
.perception,
.specialization,
.ancestors,
.talent,
.parents,
.tasks {
    background-color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: 90px;
    left: 30%;
    width: 30%;
    min-height: 200px;
    padding: 30px;
    display: none;
    font-size: 0.6em;
    line-height: 1.5em;
    color: #193146;
    z-index: 50;
}

.desantura {
    display: flex;
    justify-content: space-between;
}

.close {
    border: none;
    width: 24px;
    height: 24px;
}

@media (max-width: 960px) {
    .point {
        width: 75%;
        min-height: 300px;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {

    .title_block {
        padding: 10px;
    }

    .title_top {
        font-size: 3.5em;
        line-height: 1.2em;
    }



    .menu {
        flex-direction: column;
        width: 25%;
        padding: 0 1em;
    }

    .menu a {
        margin: 0.3em;
        font-size: 0.8em;
    }

    .nav_top {
        align-items: flex-start;
        padding: 5px;
    }

    .point_inside {
        font-size: 0.7em;
    }
}

@media (max-width: 500px) {

    .title_top {
        font-size: 3em;
        line-height: 1.5em;
        font-weight: 800;
    }

    .point {
        margin: 10px auto;
    }
}