body {
    background-image: url(../images/planet-earth-background_23-2150564685.jpeg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center;
    background-position-y: 15%;

}

header {
    min-height: 700px;
}

.nav_top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0.5em;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0 5em;
}

.logo {
    border-radius: 5px;
    min-width: 1.5%;
    padding: 0 10px;
}

.img_logo {
    width: 15px;
}

.menu a {
    color: #FFFFFF;
    font-size: 0.8rem;
    text-decoration: none;
}

.search_container {
    background-color: rgba(240, 248, 255, 0.411);
    width: 65%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 15%;
    padding: 25px 5px 15px 5px;
}

.search_container a {
    color: white;
}

h2 {
    font-size: medium;
}